
.main-footer{
	background: #e7c218;
	ul{
		list-style: none;
		padding: 0;
		li{
			a{
				color: #ffffff;
				font-size: 15px;
				line-height: 30px;
				font-weight: 400;
				position: relative;
				display: block;
				padding: 30px 0 25px 35px;
				i{
					.transform(translateY(-50%));
					background: #ffffff;
					border-radius: 50%;
					color: #e7c218;
					float: left;
					height: 30px;
					left: 0;
					line-height: 30px;
					margin-right: 5px;
					position: absolute;
					text-align: center;
					top: 50%;
					width: 30px;
				}
			}
		}
	}
}


@media all and (min-width: 960px){
	.main-footer{
		ul{
			display: table;
			width: 100%;
			li{
				display: table-cell;
				width: auto;
				float: none;
			}
		}
	}
}