
.main-header{
	background: #bb355b;	
	padding: 40px 0 30px;
	.logo{
		float: left;
		width: 100%;
		max-width: 100px;
		height: auto;
	}
	.seja-um{
		font-weight: 400;
		color: #ffffff;
		font-size: 20px;
		line-height: 30px;
		float: right;
		strong{
			display: block;
			font-size: 40px;
			font-weight: 700;
		}
	}
	.fale-conosco{
		color: #ffffff;
		float: right;
		font-size: 16px;
		line-height: 26px;
		padding-top: 17px;
		a{
			color: inherit;
			display: block;
			font-size: 34px;
			font-weight: 700;
		}
	}
	@media (max-width: 960px){
		.seja-um{
			font-size: 13px;
			line-height: 20px;
			padding-top: 20px;
			strong{font-size: 30px;}
		}
		.fale-conosco{
			font-size: 14px;
			line-height: 20px;
			padding-top: 22px;
			a{
				font-size: 26px;
			}
		}
	}
	@media (max-width: 768px){
		.seja-um{
			font-size: 13px;
			line-height: 20px;
			padding-top: 20px;
			strong{font-size: 30px;}
		}
		.fale-conosco{
			display: none;
		}
	}
}

