@c-yellow: #e7c218;
@c-red: #bb355b;
@c-green: #a9a927;
@c-purple: #8a2785;
@c-pink: #bb355b;



// fonts
@font-face {
    font-family: 'Effra';
    src: url('effra_std_heit-webfont.woff2') format('woff2'),
         url('effra_std_heit-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;

}
@font-face {
    font-family: 'Effra';
    src: url('../fonts/effra_std_he-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_he-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Effra';
    src: url('../fonts/effra_std_bdit-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_bdit-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}
@font-face {
    font-family: 'Effra';
    src: url('../fonts/effra_std_bd-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_bd-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'efframedium_italic';
    src: url('effra_std_mdit-webfont.woff2') format('woff2'),
         url('effra_std_mdit-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Effra';
    src: url('../fonts/effra_std_md-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_md-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effra_std_it-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_it-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Effra';
    src: url('../fonts/effra_std_rg-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_rg-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Effra';
    src: url('../fonts/effra_std_ltit-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_ltit-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Effra';
    src: url('../fonts/effra_std_lg-webfont.woff2') format('woff2'),
         url('../fonts/effra_std_lg-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'oboticario';
    src: url('../fonts/oboticario1-webfont.woff2') format('woff2'),
         url('../fonts/oboticario1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.space-5{display: block; height: 5px;}
.space-10{display: block; height: 10px;}
.space-15{display: block; height: 15px;}
.space-20{display: block; height: 20px;}
.space-25{display: block; height: 25px;}
.space-30{display: block; height: 30px;}
.space-35{display: block; height: 35px;}
.space-40{display: block; height: 40px;}
.space-45{display: block; height: 45px;}
.space-50{display: block; height: 50px;}

.relative{position: relative;}
.absolute{position: absolute;}

.transform(@value){
	-webkit-transform: @value;
	-moz-transform:    @value;
	-ms-transform:     @value;
	-o-transform:      @value;
	transform:         @value;	
}

.placeholderColor(@value){
	&::-webkit-input-placeholder{color: @value;}
	&:-moz-placeholder{color: @value;}
	&::-moz-placeholder{color: @value;}
	&:-ms-input-placeholder{color: @value;}
}

.i-caret(@p){
    position: relative;
    padding-left: 12px;
    &:before{
        .transform(translateY(-50%));
        background-image: url(../images/i-caret.png);
        background-position: center @p;
        background-size: 100%;
        background-repeat: no-repeat;
        content: "";
        display: block;
        height: 11px;
        left: 0;
        position: absolute;
        top: 50%;
        width: 6px;
    }
}

.changeGrid(@padding){
    [class^="col-"], [class*=" col-"]{
        padding-left: @padding;
        padding-right: @padding;
    }
    .row{margin: 0 -@padding;}
}