
*{
	font-family: 'Effra';
	font-weight: 400;
	outline: none;
}

/* Default */
html{
	overflow: auto;
	object{
		display: none;
	}
	body{
		font-family: 'Effra';
		object{
			display: inline;
		}
	}
}


.bgjs{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	img{display: none;}
	&.left{
		background-position: right;
		height: 100%;
		right: 50%;
		position: absolute;
		top: 0;
		width: 50%;
	}
	&.right{
		background-position: left;
		height: 100%;
		position: absolute;
		left: 50%;
		top: 0;
		width: 50%;
	}
	@media (max-width: 768px){
		&.left,
		&.right{
			background: none;
			display: block;
			position: static;
			width: 100%;
			img{
				display: block;
				margin: 0 auto;
			}
		}
	}
}

a,
button{
	transition: all 0.5s;
}

a:active,
a:focus,
a:hover{
	text-decoration: none;
	outline: none;
}

img{
	height: auto;
	max-width: 100%;			
}



.post-content{
	color: #ffffff;
	h6{
		color: inherit;
		font-size: 16px;
		font-weight: 700;
		margin: 0 0 10px;
		small{color: inherit;}
	}
	li,p{
		color: inherit;
		font-size: 17px;
		font-weight: 300;
		line-height: 25px;
		margin: 0 0 10px;
		strong{
			color: inherit;
			font-size: inherit;
			font-weight: 700;
		}
		small{
			color: inherit;
			font-size: 13px;
		}
		a{color: inherit;}
	}
	ul{
		list-style: none;
		padding: 0;
		li{
			padding-left: 25px;	
			position: relative;
			i{
				color: #6db834;
				left: 0;
				position: absolute;
				top: 2px;
			}
		}
	}
}

section.intro{
	background-image: url(../images/intro.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 0;
	h1{
		color: @c-red;
		display: inline-block;
		font-size: 130px;
		line-height: 100px;
		margin: 0;
		position: relative;
		small{
			color: inherit;
			display: block;
			font-size: 50px;
			&.pull-right{
				position: absolute;
				right: 0;
				top: 100%;
			}
		}
	}
	.post-content{
		margin: 80px 0 0;
		p{
			color: #000000;
			font-size: 18px;
			line-height: 25px;
			margin-bottom: 30px;
			font-weight: 400;
		}
	}
}



section.vantagem{
	background: @c-yellow;
	display: block;
	position: relative;
	width: 100%;
	.container{
		min-height: 450px;
		padding-bottom: 15px;
		padding-top: 15px;
		position: relative;
	}
	.vantagem-logo{
		.transform(translate(-50%,-50%));
		display: block;
		left: 50%;
		position: absolute;
		top: 50%;
		width: 100%;
		max-width: 330px;
		img{
			display: block;
			margin: 0 auto;
			width: 100%;
		}
		&:after{
			background-image: url(../images/vantagem-fle.png);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			content: "";
			left: -145px;
			width: 557px;
			height: 219px;
			position: absolute;
			top: -55px;
		}
	}
	ul{
		list-style: none;
		padding: 0;
		li{
			color: #ffffff;
			font-size: 21px;
			font-weight: 400;
			padding: 0;
			line-height: 26px;
			position: absolute;
			white-space: nowrap;
			font-weight: 300;
			text-align: center;
			strong{font-weight: 500;}
			&.v-1{left: 10%; top: 60px;}
			&.v-2{left: 37%; top: 70px;}
			&.v-3{left: 70%; top: 75px;}
			&.v-4{left: 74%; top: 210px;}

			&.v-5{left: 64%; bottom: 70px;}
			&.v-6{left: 36%; bottom: 35px;}
			&.v-7{left: 7%; bottom: 100px;}
			&.v-8{left: 5%; top: 190px;}
		}
	}
	@media (max-width: 960px){
		.container{
			min-height: 0;
			padding-top: 30px;
			padding-bottom: 50px;
		}
		.vantagem-logo{
			.transform(none);
			position: static;
			margin: 25px auto;
			display: block;
			width: 100%;
			&:after{display: none;}
		}
		ul{
			li{
				position: static;
				text-align: left;
				white-space: normal;
				br{display: none;}
			}
		}
	}
}



section.mais-lucro{
	overflow: hidden;
	article{
		padding: 50px 0;
		position: relative;
		text-align: center;
		&.purple{background: @c-purple;}
		&.pink{background: @c-pink;}
		.col-sm-6{padding-right: 50px;}
		.col-sm-6.col-sm-offset-6{padding-left: 50px;}
		h2{
			color: @c-yellow;
			font-size: 36px;
			font-weight: 700;
			position: relative;
			display: inline-block;
			small{
				position: absolute;
				right: 0;
				color: inherit;
				top: 100%;
				font-size: 14px;
				font-weight: 400;
			}
		}
		.post-content{
			text-align: left;
			margin: 65px 0;
		}
		@media (max-width: 768px){
			padding-bottom: 0;
			.col-sm-6{padding-right: 15px;}
			.col-sm-6.col-sm-offset-6{padding-left: 15px;}
		}
	}
}



section.produtos{
	background: @c-yellow;
	text-align: center;
	position: relative;
	overflow: hidden;
	&:before,
	&:after{
		border-top: 1px dotted #ffffff;
		content: "";
		display: block;
		height: 1px;
		left: 0;
		opacity: 0.7;
		position: absolute;
		top: 6px;
		width: 100%;
		z-index: 2;
	}
	.bgjs.left,.bgjs.right{background-position: top;}
	&:after{
		top: auto;
		bottom: 6px;
	}
	.col-xs-12{
		padding-top: 55px;
		padding-bottom: 55px;
		padding-right: 50px;
	}
	h2{
		color: #323232;
		font-size: 22px;
		font-weight: 700;
		margin: 15px 0;
	}
	@media (max-width: 768px){
		.bgjs{
			display: block;
			height: 300px;
			margin: 0 auto;
			position: static;
		}
	}
}


section.sobre{
	background: @c-green;
	padding: 55px 0;
	h2{
		color: @c-red;
		font-size: 30px;
		font-weight: 700;
		margin: 15px 0;
	}
}



section.quero{
	background: @c-red;
	position: relative;
	padding: 50px 0 65px;
	text-align: center;
	&:before{
		border-top: 1px dotted #ffffff;
		content: "";
		display: block;
		height: 1px;
		left: 0;
		opacity: 0.7;
		position: absolute;
		top: 5px;
		width: 100%;
	}
	h2{
		color: @c-yellow;
		font-size: 25px;
		font-weight: 700;
		margin: 0 0 26px;
	}
	.post-content{
		margin-bottom: 30px;
		p{
			font-size: 22px;
			font-weight: 400;
		}
	}
	.quero-btn{
		background: @c-yellow;
		border-radius: 4px;
		color: @c-red;
		display: block;
		font-size: 25px;
		height: 75px;
		line-height: 75px;
		max-width: 500px;
		position: relative;
		text-align: center;
		margin: 0 auto 35px;
		width: 100%;
		&:after{
			border-radius: 4px;
			border: 1px dotted #ffffff;
			content: "";
			display: block;
			height: 65px;
			left: 5px;
			opacity: 0.7;
			position: absolute;
			right: 5px;
			top: 4px;
			width: auto;
		}
	}
	.quero-ligue{
		font-size: 34px;
		font-weight: 700;
		color: #ffffff;
		position: relative;
		padding-left: 80px;
		small{
			position: absolute;
			left: 0;
			top: 5px;
			font-size: 16px;
			font-weight: 400;
		}
	}
	.container{max-width: 780px;}
}



#modal-cadastro{
	.modal-dialog{
		max-width: 820px;
		margin: 35px auto;
		.modal-content{
			.modal-header{
				padding: 0;
				margin: 0;
				img{
					width: 100%;
					display: block;
					margin: 0 auto;
				}
			}
			.modal-body{
				background: #f2f2f2;
				[class^="col-"], [class*=" col-"]{
					padding-left: 5px;
					padding-right: 5px;
				}
				.row{margin: 0 -5px;}
				form{
					strong{
						color: @c-purple;
						display: block;
						font-size: 15px;
						font-weight: 500;
					}
					label{
						font-size: 14px;
						color: #303030;
						width: 100%;
						margin: 0 0 10px;
						select,
						input[type="text"],
						textarea{
							display: block;
							font-family: 'Effra';
							font-size: 14px;
							font-weight: 300;
							height: 30px;
							line-height: 30px;
							padding: 0 15px;
							width: 100%;
							border: 0;
						}
						textarea{
							height: 100px;
							padding-top: 2px;
							resize: none;
						}
					}
					.radio-group{
						label{
							display: inline-block;
							width: auto;
							padding-right: 15px;
						}
					}
					button{
						background: @c-purple;
						border: 0;
						color: #ffffff;
						float: right;
						height: 30px;
						line-height: 30px;
						padding: 0;
						text-align: center;
						width: 200px;
					}
				}
			}
		}
	}
}










