@font-face {
  font-family: 'Effra';
  src: url('effra_std_heit-webfont.woff2') format('woff2'), url('effra_std_heit-webfont.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Effra';
  src: url('../fonts/effra_std_he-webfont.woff2') format('woff2'), url('../fonts/effra_std_he-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Effra';
  src: url('../fonts/effra_std_bdit-webfont.woff2') format('woff2'), url('../fonts/effra_std_bdit-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Effra';
  src: url('../fonts/effra_std_bd-webfont.woff2') format('woff2'), url('../fonts/effra_std_bd-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'efframedium_italic';
  src: url('effra_std_mdit-webfont.woff2') format('woff2'), url('effra_std_mdit-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Effra';
  src: url('../fonts/effra_std_md-webfont.woff2') format('woff2'), url('../fonts/effra_std_md-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Effra';
  src: url('../fonts/effra_std_it-webfont.woff2') format('woff2'), url('../fonts/effra_std_it-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Effra';
  src: url('../fonts/effra_std_rg-webfont.woff2') format('woff2'), url('../fonts/effra_std_rg-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Effra';
  src: url('../fonts/effra_std_ltit-webfont.woff2') format('woff2'), url('../fonts/effra_std_ltit-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Effra';
  src: url('../fonts/effra_std_lg-webfont.woff2') format('woff2'), url('../fonts/effra_std_lg-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'oboticario';
  src: url('../fonts/oboticario1-webfont.woff2') format('woff2'), url('../fonts/oboticario1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.space-5 {
  display: block;
  height: 5px;
}
.space-10 {
  display: block;
  height: 10px;
}
.space-15 {
  display: block;
  height: 15px;
}
.space-20 {
  display: block;
  height: 20px;
}
.space-25 {
  display: block;
  height: 25px;
}
.space-30 {
  display: block;
  height: 30px;
}
.space-35 {
  display: block;
  height: 35px;
}
.space-40 {
  display: block;
  height: 40px;
}
.space-45 {
  display: block;
  height: 45px;
}
.space-50 {
  display: block;
  height: 50px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
* {
  font-family: 'Effra';
  font-weight: 400;
  outline: none;
}
/* Default */
html {
  overflow: auto;
}
html object {
  display: none;
}
html body {
  font-family: 'Effra';
}
html body object {
  display: inline;
}
.bgjs {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgjs img {
  display: none;
}
.bgjs.left {
  background-position: right;
  height: 100%;
  right: 50%;
  position: absolute;
  top: 0;
  width: 50%;
}
.bgjs.right {
  background-position: left;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
}
@media (max-width: 768px) {
  .bgjs.left,
  .bgjs.right {
    background: none;
    display: block;
    position: static;
    width: 100%;
  }
  .bgjs.left img,
  .bgjs.right img {
    display: block;
    margin: 0 auto;
  }
}
a,
button {
  transition: all 0.5s;
}
a:active,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}
img {
  height: auto;
  max-width: 100%;
}
.post-content {
  color: #ffffff;
}
.post-content h6 {
  color: inherit;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 10px;
}
.post-content h6 small {
  color: inherit;
}
.post-content li,
.post-content p {
  color: inherit;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
  margin: 0 0 10px;
}
.post-content li strong,
.post-content p strong {
  color: inherit;
  font-size: inherit;
  font-weight: 700;
}
.post-content li small,
.post-content p small {
  color: inherit;
  font-size: 13px;
}
.post-content li a,
.post-content p a {
  color: inherit;
}
.post-content ul {
  list-style: none;
  padding: 0;
}
.post-content ul li {
  padding-left: 25px;
  position: relative;
}
.post-content ul li i {
  color: #6db834;
  left: 0;
  position: absolute;
  top: 2px;
}
section.intro {
  background-image: url(../images/intro.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
}
section.intro h1 {
  color: #bb355b;
  display: inline-block;
  font-size: 130px;
  line-height: 100px;
  margin: 0;
  position: relative;
}
section.intro h1 small {
  color: inherit;
  display: block;
  font-size: 50px;
}
section.intro h1 small.pull-right {
  position: absolute;
  right: 0;
  top: 100%;
}
section.intro .post-content {
  margin: 80px 0 0;
}
section.intro .post-content p {
  color: #000000;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 400;
}
section.vantagem {
  background: #e7c218;
  display: block;
  position: relative;
  width: 100%;
}
section.vantagem .container {
  min-height: 450px;
  padding-bottom: 15px;
  padding-top: 15px;
  position: relative;
}
section.vantagem .vantagem-logo {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100%;
  max-width: 330px;
}
section.vantagem .vantagem-logo img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
section.vantagem .vantagem-logo:after {
  background-image: url(../images/vantagem-fle.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  left: -145px;
  width: 557px;
  height: 219px;
  position: absolute;
  top: -55px;
}
section.vantagem ul {
  list-style: none;
  padding: 0;
}
section.vantagem ul li {
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  padding: 0;
  line-height: 26px;
  position: absolute;
  white-space: nowrap;
  font-weight: 300;
  text-align: center;
}
section.vantagem ul li strong {
  font-weight: 500;
}
section.vantagem ul li.v-1 {
  left: 10%;
  top: 60px;
}
section.vantagem ul li.v-2 {
  left: 37%;
  top: 70px;
}
section.vantagem ul li.v-3 {
  left: 70%;
  top: 75px;
}
section.vantagem ul li.v-4 {
  left: 74%;
  top: 210px;
}
section.vantagem ul li.v-5 {
  left: 64%;
  bottom: 70px;
}
section.vantagem ul li.v-6 {
  left: 36%;
  bottom: 35px;
}
section.vantagem ul li.v-7 {
  left: 7%;
  bottom: 100px;
}
section.vantagem ul li.v-8 {
  left: 5%;
  top: 190px;
}
@media (max-width: 960px) {
  section.vantagem .container {
    min-height: 0;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  section.vantagem .vantagem-logo {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    position: static;
    margin: 25px auto;
    display: block;
    width: 100%;
  }
  section.vantagem .vantagem-logo:after {
    display: none;
  }
  section.vantagem ul li {
    position: static;
    text-align: left;
    white-space: normal;
  }
  section.vantagem ul li br {
    display: none;
  }
}
section.mais-lucro {
  overflow: hidden;
}
section.mais-lucro article {
  padding: 50px 0;
  position: relative;
  text-align: center;
}
section.mais-lucro article.purple {
  background: #8a2785;
}
section.mais-lucro article.pink {
  background: #bb355b;
}
section.mais-lucro article .col-sm-6 {
  padding-right: 50px;
}
section.mais-lucro article .col-sm-6.col-sm-offset-6 {
  padding-left: 50px;
}
section.mais-lucro article h2 {
  color: #e7c218;
  font-size: 36px;
  font-weight: 700;
  position: relative;
  display: inline-block;
}
section.mais-lucro article h2 small {
  position: absolute;
  right: 0;
  color: inherit;
  top: 100%;
  font-size: 14px;
  font-weight: 400;
}
section.mais-lucro article .post-content {
  text-align: left;
  margin: 65px 0;
}
@media (max-width: 768px) {
  section.mais-lucro article {
    padding-bottom: 0;
  }
  section.mais-lucro article .col-sm-6 {
    padding-right: 15px;
  }
  section.mais-lucro article .col-sm-6.col-sm-offset-6 {
    padding-left: 15px;
  }
}
section.produtos {
  background: #e7c218;
  text-align: center;
  position: relative;
  overflow: hidden;
}
section.produtos:before,
section.produtos:after {
  border-top: 1px dotted #ffffff;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 6px;
  width: 100%;
  z-index: 2;
}
section.produtos .bgjs.left,
section.produtos .bgjs.right {
  background-position: top;
}
section.produtos:after {
  top: auto;
  bottom: 6px;
}
section.produtos .col-xs-12 {
  padding-top: 55px;
  padding-bottom: 55px;
  padding-right: 50px;
}
section.produtos h2 {
  color: #323232;
  font-size: 22px;
  font-weight: 700;
  margin: 15px 0;
}
@media (max-width: 768px) {
  section.produtos .bgjs {
    display: block;
    height: 300px;
    margin: 0 auto;
    position: static;
  }
}
section.sobre {
  background: #a9a927;
  padding: 55px 0;
}
section.sobre h2 {
  color: #bb355b;
  font-size: 30px;
  font-weight: 700;
  margin: 15px 0;
}
section.quero {
  background: #bb355b;
  position: relative;
  padding: 50px 0 65px;
  text-align: center;
}
section.quero:before {
  border-top: 1px dotted #ffffff;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 5px;
  width: 100%;
}
section.quero h2 {
  color: #e7c218;
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 26px;
}
section.quero .post-content {
  margin-bottom: 30px;
}
section.quero .post-content p {
  font-size: 22px;
  font-weight: 400;
}
section.quero .quero-btn {
  background: #e7c218;
  border-radius: 4px;
  color: #bb355b;
  display: block;
  font-size: 25px;
  height: 75px;
  line-height: 75px;
  max-width: 500px;
  position: relative;
  text-align: center;
  margin: 0 auto 35px;
  width: 100%;
}
section.quero .quero-btn:after {
  border-radius: 4px;
  border: 1px dotted #ffffff;
  content: "";
  display: block;
  height: 65px;
  left: 5px;
  opacity: 0.7;
  position: absolute;
  right: 5px;
  top: 4px;
  width: auto;
}
section.quero .quero-ligue {
  font-size: 34px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  padding-left: 80px;
}
section.quero .quero-ligue small {
  position: absolute;
  left: 0;
  top: 5px;
  font-size: 16px;
  font-weight: 400;
}
section.quero .container {
  max-width: 780px;
}
#modal-cadastro .modal-dialog {
  max-width: 820px;
  margin: 35px auto;
}
#modal-cadastro .modal-dialog .modal-content .modal-header {
  padding: 0;
  margin: 0;
}
#modal-cadastro .modal-dialog .modal-content .modal-header img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#modal-cadastro .modal-dialog .modal-content .modal-body {
  background: #f2f2f2;
}
#modal-cadastro .modal-dialog .modal-content .modal-body [class^="col-"],
#modal-cadastro .modal-dialog .modal-content .modal-body [class*=" col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
#modal-cadastro .modal-dialog .modal-content .modal-body .row {
  margin: 0 -5px;
}
#modal-cadastro .modal-dialog .modal-content .modal-body form strong {
  color: #8a2785;
  display: block;
  font-size: 15px;
  font-weight: 500;
}
#modal-cadastro .modal-dialog .modal-content .modal-body form label {
  font-size: 14px;
  color: #303030;
  width: 100%;
  margin: 0 0 10px;
}
#modal-cadastro .modal-dialog .modal-content .modal-body form label select,
#modal-cadastro .modal-dialog .modal-content .modal-body form label input[type="text"],
#modal-cadastro .modal-dialog .modal-content .modal-body form label textarea {
  display: block;
  font-family: 'Effra';
  font-size: 14px;
  font-weight: 300;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  width: 100%;
  border: 0;
}
#modal-cadastro .modal-dialog .modal-content .modal-body form label textarea {
  height: 100px;
  padding-top: 2px;
  resize: none;
}
#modal-cadastro .modal-dialog .modal-content .modal-body form .radio-group label {
  display: inline-block;
  width: auto;
  padding-right: 15px;
}
#modal-cadastro .modal-dialog .modal-content .modal-body form button {
  background: #8a2785;
  border: 0;
  color: #ffffff;
  float: right;
  height: 30px;
  line-height: 30px;
  padding: 0;
  text-align: center;
  width: 200px;
}
.main-header {
  background: #bb355b;
  padding: 40px 0 30px;
}
.main-header .logo {
  float: left;
  width: 100%;
  max-width: 100px;
  height: auto;
}
.main-header .seja-um {
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  float: right;
}
.main-header .seja-um strong {
  display: block;
  font-size: 40px;
  font-weight: 700;
}
.main-header .fale-conosco {
  color: #ffffff;
  float: right;
  font-size: 16px;
  line-height: 26px;
  padding-top: 17px;
}
.main-header .fale-conosco a {
  color: inherit;
  display: block;
  font-size: 34px;
  font-weight: 700;
}
@media (max-width: 960px) {
  .main-header .seja-um {
    font-size: 13px;
    line-height: 20px;
    padding-top: 20px;
  }
  .main-header .seja-um strong {
    font-size: 30px;
  }
  .main-header .fale-conosco {
    font-size: 14px;
    line-height: 20px;
    padding-top: 22px;
  }
  .main-header .fale-conosco a {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .main-header .seja-um {
    font-size: 13px;
    line-height: 20px;
    padding-top: 20px;
  }
  .main-header .seja-um strong {
    font-size: 30px;
  }
  .main-header .fale-conosco {
    display: none;
  }
}
.main-footer {
  background: #e7c218;
}
.main-footer ul {
  list-style: none;
  padding: 0;
}
.main-footer ul li a {
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  position: relative;
  display: block;
  padding: 30px 0 25px 35px;
}
.main-footer ul li a i {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #ffffff;
  border-radius: 50%;
  color: #e7c218;
  float: left;
  height: 30px;
  left: 0;
  line-height: 30px;
  margin-right: 5px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 30px;
}
@media all and (min-width: 960px) {
  .main-footer ul {
    display: table;
    width: 100%;
  }
  .main-footer ul li {
    display: table-cell;
    width: auto;
    float: none;
  }
}
